*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.banner{
	width: 100%;
	height: 240px;
	background-image: linear-gradient(to right, rgba(255,255,255),rgba(0,0,0,0.70)), url(images/123.jpg);
	background-position: center;
	background-size: cover;
	
}
.theme{
	width: 100%;
	position: absolute;
	transform: translateY(-50%);
	color: #ff7200;

}

.theme p1{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	position: fixed;
	top: -120px;
	left: 350px;
	white-space: nowrap;
	text-shadow: 2px 2px 4px #fff;

}
.navbar{
	width: 85%;
	margin: left;
	margin-left: -50px;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 300px;
	cursor: pointer;
	margin-top: -90px;
	margin-left: 100px;

}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase:
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff7200;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
  z-index: 2;
  margin-top: 5px;
}

.dropdown-content a {
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #000;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;
}

.search{
	width: 330px;
	color: #fff;
	float: right;
	margin-right; 200px;
}

.srch{
	width: 150px;
	height: 30px;
	background: transparent;
	border: 1px solid #ff7200;
	margin-top: -218px;
	margin-left: 50px;
	color: #fff;
	border-right: none;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
}

.btn{
	width: 100px;
	height: 20px 0;
	background: #ff7200;
	border: 1px solid #ff7200;
	margin-top: -218px;
	margin-left: 195px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding: 5.3px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.btn:focus{
	outline: none;
	
}

.srch:focus{
	outline: none;
}

#myVideo {
  position: absolute;
  top: 230px;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}

.content{
	width: 50%;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 8px 16px 0px #ff7200;
	position: absolute;
	top: 350px;
	left: 650px;
	height: 350px;
	color: #f1f1f1;
	text-align: center;
	color: #fff;
	min-width: 50px;
	z-index: 1;
	
}
.content h1{
	font-size: 70px;
	margin-top: 65px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #dedede;
}

h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.title-container {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}

button{
	width:200px;
	padding: 15px 0;
	text-align: center;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}

.form{
	width: 290px;
	height: 450px;
	background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
	position: absolute;
	top: 300px;
	left: 1000px;
	border-radius: 15px;
	padding: 25px
}

.form h2{
	width: 240px;
	font-family: sans-serif;
	text-align: center;
	color: #ff7200;
	font-size: 22px;
	background-color: #fff;
	border-radius: 10px;
	margin: 2px;
	padding: 8px;
}

.form input{
	width: 240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #ff7200;
	border-top: none;
	border-right: none;
	border-left: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 30px;
	font-family: sans-serif;
}

.form input:focus{
	outline: none;
}

::placeholder{
	color: #fff;
	font-family: Arial;
}

.btnn{
	width: 240px;
	height: 40px;
	background: #ff7200;
	border: none;
	margin-top: 30px;
	right: 10px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	transition: 0.4s ease;
}

.btnn:hover{
	background: #fff;
	color: #ff7200;
}

.btnn a{
	text-decoration: none;
	color: #000;
	font-weight: bold;

}

.form .link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}

.form .link a{
	text-decoration: none;
	color: #ff7200;
}

.liw{
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	color: #fff; 
}

.icons a{
	text-decoration: none;
	color: #fff;
}

.icons ion-icon{
	color: #fff;
	font-size: 30px;
	padding-left: 14px;
	padding-top: 5px;
	transition: 0.3s ease;
}

.icons ion-icon:hover{
	color: #ff7200;
}

.background{
	width: 100%;
	height: 850px;
	background-image: url(images/interior-design-mansions-wallpaper-preview.jpg);
	background-position: center;
	background-size: cover;
}

.concept{
	position: absolute;
	top: 300px;
	left: 50px;
	height: 200px;
	color: #f1f1f1;
	text-align: left;
	color: #000;
	
}
.concept h1{
	font-size:100px;
	margin-top: 65px;
}

.container{
	position: absolute;
	top: 1100px;
	left: 350px;
	bottom: 200px;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.about{
	position: absolute;
	top: 8px;
	left: 50px;
	height: 200px;
	color: #f1f1f1;
	text-align: left;
	color: #000;
	min-width: 50px;
	z-index: 1;
	
}
.about h1{
	font-size: 50px;
	margin-top: 65px;
}

div.a{
	text-indent: 5%;
}

.about p{
	width: 950px;
	text-align: justify;
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	margin-right: 120px;
}

ul.a{
	list-style-type: circle;
}

.background1{
	position: absolute;
	margin-top: 2200px;
	width: 100%;
	height: 700px;
	background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url(images/12345.jpg);
	background-position: center;
	background-size: cover;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

body {
  margin: 0;
  font: 100%;
  color: hsl(230, 100%, 95%);
  height: 100vh;
  display: flex;
}


@font-face {
    font-family: RaphLanokFuture;
    src: url(images/RaphLanokFuture.ttf);
}
  
h3 {
    font-family: RaphLanokFuture;
    color: #fff;
	margin-top: 50px;
	margin-left: 90px;
	font-size: 4.5rem;
	font-weight: 300;
	animation: lights 5s 750ms linear infinite;
}

.card{
	margin-top: -30px;
}

.slick-slide img{
	margin: 0 auto;
	max-width: 120px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin-bottom: 25px;
}

.item{
	padding: 15px;
	outline: none;
}

.item-inner{
	background: linear-gradient(45deg, #ff6600, #fff000);
	border-radius: 18px;
	text-align: center;
	padding: 25px;
}

.item-inner h4{
	font-size: 30px;
	color: #fff;
	font-family: Nueva Std;
	text-transform: capitalize;
}

.item-inner p{
	font-size: 16px;
	color: #fff;
	font-family: Open Sans;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.social{
	margin-top: 50px;
}

.social a{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	color: #ff6c00;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	margin: 0 5px;
	transition: all ease 0.5s;
}

.social a:hover{
	transform: translateY(-10px);
}

/*BACKGROUND COLOR*/
.item2 .item-inner{
	background: linear-gradient(45deg, #0060ff, #fe0ff0);
}

.item3 .item-inner{
	background: linear-gradient(45deg, #00c0ff, #5ad607);
}

.item4 .item-inner{
	background: linear-gradient(45deg, #ffd200, #07d767);
}

.item5 .item-inner{
	background: linear-gradient(45deg, #0b618a, #07d6b9);
}

/*ICON COLOR*/
.item2 .social a{
	color: #0f5cff
}

.item3 .social a{
	color: #06c1ed
}

.item4 .social a{
	color: #f0d207
}

.item5 .social a{
	color: #0a698d
}

.slick-slide{
	transform: scale(0.8);
	opacity: 0.3;
	transition: all ease 0.5s;
}

.slick-slide.slick-current{
	transform: scale(1);
	opacity: 1;
}


/*SLIDER CONTROL*/
.slick-arrow{
	position: absolute;
	bottom:270px;
	z-index: 99;
	background: #ff7200;
	border: none;
	padding: 8px 15px;
	border-radius: 50px;
	width: 100px;
	outline: none;
}

.slick-next{
	left: 52%;
}

.slick-prev{
	Left: 43%;
}

.slick-list{
	padding-top: 55px !important;
	padding-bottom: 55px !important;
}
